body{
	font: 400 15px 'Lucida Sans Regular', 'Lucida Sans',   sans-serif;
	line-height: 1.8;
	color: #9d9fa2;
}


/*--------- HEADER ------------*/

.jumbotron{
	background-color: #00954c;
	color: #ffffff;
	padding: 40px 25px 20px;
    margin-bottom: 0px;
	font-family: 'Lucida Sans Regular', 'Lucida Sans',   sans-serif;
}

.jumbotron h1{  
    font-weight: normal;
}

.jumbotron h2{
    color: white;
    font-weight: normal;
}

.main-title{
    float: left;
    padding-left: 25px;
}

.main-title h1{
    font-size: 100px; 
}

.subtitle{
    font-size: 27px; 
    text-transform: uppercase;
    font-weight: normal;
}


.searchbox{
    width: 30%;
    float: right;
}

.divider-gray{
    background-color: #efeff0;
    height: 10px;
}

.center {
	padding: 80px 120px;
}


.container-fluid {
	padding: 100px 25px;
}


footer{
  background-color: #00954c;
  color: white;
  padding-bottom: 100px;  
}

.bg-grey{
	background-color: #f6f6f6;
	padding: 60px 50px;
}

.bg-orange{
    background-color: orange;
}

.bg-red{
    background-color: red;
}

.bg-yellow{
    background-color: yellow;
}

.logo-small{
	color: #00954c;
	font-size: 50px;
}

.logo{
	color: #00954c;
	font-size: 200px;	
}

.logo-amia{
    text-align: center; 
    float: left; 
    width: parent; 
    height: parent;
}

.img-style{
	padding: 0 0 15px 0;	
	margin-bottom: 10px;	
}

.thumbnail{
    border: none;
	padding: 0 0 15px 0;
	border-radius: 0;
	transition: box-shadow 0.5s;	
}

.thumbnail img{
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.thumbnail:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.thumbnail-logo{
    margin-top: 10px;
    transition: none;
    background: transparent;
}

.thumbnail-logo:hover{
    box-shadow: 0px 0px 0px rgba(0,0,0, .2);
}
	
.panel{
	border: 1px solid orange;
	border-radius: 0;
	transition: box-shadow 0.5s;
}



.panel-footer .btn:hover {
    border: 1px solid #00954c;
    background-color: #fff !important;
    color: #00954c;
}

.panel-heading {
    color: #fff !important;
    background-color: #00954c !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer{
	background-color: #fff !important;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #00954c;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
    background-color: #fbeb9e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #414042 !important;
    font-family: 'Lucida Sans Regular', 'Lucida Sans',   sans-serif;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00954c !important;
    background-color: #fff !important;
    font-weight: bold;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #414042 !important;
}

footer .glyphicon{
	font-size: 20px;
	margin-bottom: 20px;
	color: orange;
}

h1 {
    font-size: 100pt;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}


h2 {
    font-size: 27pt;
    font-weight: normal;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}



.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/*@media screen and (max-width: 768px){
	.col-sm-4{
		text-align: center;
		margin: 25px 0;
	}

    .partners{

    }
}*/


/* this is used with the 'mediaquery.html' page to see media queries in effect. Reference this CSS file on a blank page and then resize the browser window */
@media screen and (max-width: 960px) {
    body {
        background-color: red;
    }

    .main-title{
        float: none;
    }       

    .jumbotron h2{
        font-size: 16px;
    }    

    .searchbox{
        width: 100%;
        text-align: center;
    }
} 
@media screen and (max-width: 768px) {
    body {
        background-color: orange;
    }

    .col-sm-4{
        text-align: center;
        margin: 25px 0;
    }

    .jumbotron h2{
        font-size: 16px;
    }

    .jumbotron{
        padding-top: 0px;
    } 

    .main-title{
        padding-top: 10px;
    }

    .divider-gray{
        background-color: #efeff0;
        height: 8px;
    }    
} 
@media screen and (max-width: 550px) {
    body {
        background-color: yellow;
    }

    .logo-amia{
        float: center;
    }     
    .main-title{
        float: none;
    }    
} 
@media screen and (max-width: 320px) {
    body {
        background-color: green;
    }
} 