.container {
  max-width: 960px;
}

/*
 * header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


/*
 * utils
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

body {
  padding: 0;
  margin: 0;
}

html, body, #mapid {
  height: 100%;
  width: 100%;
}


.info-legend {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7a7a52;
  -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
}    

.info-caption {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  width: 30%;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #7a7a52;
  -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
}    