.container {
  max-width: 960px;
}

/*
 * header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


/*
 * utils
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

body {
  padding: 0;
  margin: 0;
}

html, body, #mapid {
  height: 100%;
  width: 100%;
}


.info-legend {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7a7a52;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}    

.info-caption {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  width: 30%;
  font-size: 14px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}    

.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; border:1px solid #555; }

.ctrl_coordinates {
  font-size: 12px;
}

footer.page-footer {
  background: #222;
  border-top: 4px solid #80ff80; }
  footer.page-footer .about {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1170px;
  text-align: center; }
  footer.page-footer .about p {
  font-size: 13px;
  color: #999;
  margin-top: 30px; }
  footer.page-footer a {
  color: #aaa;
  padding: 2px 0; }
  footer.page-footer a:hover {
  color: #80ff80; }
  footer.page-footer .copyright {
  margin-top: 15px;
  background: #111;
  padding: 7px 0;
  color: #999; }
  footer.page-footer .copyright p {
  margin: 0;
  padding: 0; }

  /* 80ff80 */